page-offline {
    .my-style{
        background-image: url('../assets/imgs/offline.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

}
